<!DOCTYPE html>
<html lang="en">

<head>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<title>Historic Data</title>
</head>

<body>
	<div style="height: 50vh; width: 50%;">
		<canvas id="myChart"></canvas>
	</div>
	
	<form method="post" action="/">
		<label for="cars">Choose a Currency</label>
		<select id="cars" name="cars">
		<option value="BTC_GBP">BTC-GBP</option>
		<option value="ETH_GBP">ETH-GBP</option>
		<option value="USDT_GBP">USDT-GBP</option>
		<option value="BNB_GBP">BNB-GBP</option>
		<option value="USDC_GBP">USDC-GBP</option>
		<option value="XRP_GBP">XRP-GBP</option>
		<option value="ADA_GBP">ADA-GBP</option>
		<option value="SOL_GBP">SOL-GBP</option>
		<option value="DOGE_GBP">DOGE-GBP</option>
		<option value="MATIC_GBP">MATIC-GBP</option>
		<option value="HEX_GBP">HEX-GBP</option>
		<option value="DOT_GBP">DOT-GBP</option>
		<option value="DAI_GBP">DAI-GBP</option>
		<option value="SHIB_GBP">SHIB-GBP</option>
		<option value="TRX_GBP">TRX-GBP</option>
		<option value="UNI7083_GBP">UNI7083-GBP</option>
		<option value="AVAX_GBP">AVAX-GBP</option>
		<option value="LTC_GBP">LTC-GBP</option>
		<option value="ATOM_GBP">ATOM-GBP</option>
		<option value="ETC_GBP">ETC-GBP</option>
		<option value="LINK_GBP">LINK-GBP</option>
		<option value="FTT_GBP">FTT-GBP</option>
		<option value="XLM_GBP">XLM-GBP</option>
		<option value="CRO_GBP">CRO-GBP</option>
		<option value="XMR_GBP">XMR-GBP</option>
		<option value="ALGO_GBP">ALGO-GBP</option>
		<option value="BCH_GBP">BCH-GBP</option>
		<option value="QNT_GBP">QNT-GBP</option>
		<option value="FLOW_GBP">FLOW-GBP</option>
		<option value="VET_GBP">VET-GBP</option>
		<option value="FIL_GBP">FIL-GBP</option>
		<option value="LUNC_GBP">LUNC-GBP</option>
		<option value="ICP_GBP">ICP-GBP</option>
		<option value="HBAR_GBP">HBAR-GBP</option>
		<option value="EGLD_GBP">EGLD-GBP</option>
		<option value="XTZ_GBP">XTZ-GBP</option>
		<option value="MANA_GBP">MANA-GBP</option>
		<option value="SAND_GBP">SAND-GBP</option>
		<option value="CHZ_GBP">CHZ-GBP</option>
		<option value="AAVE_GBP">AAVE-GBP</option>
		<option value="EOS_GBP">EOS-GBP</option>
		<option value="THETA_GBP">THETA-GBP</option>
		<option value="BSV_GBP">BSV-GBP</option>
		<option value="MKR_GBP">MKR-GBP</option>
		<option value="AXS_GBP">AXS-GBP</option>
		<option value="ZEC_GBP">ZEC-GBP</option>
		<option value="TUSD_GBP">TUSD-GBP</option>
		<option value="BTTOLD_GBP">BTTOLD-GBP</option>
		<option value="SNX_GBP">SNX-GBP</option>
		<option value="MIOTA_GBP">MIOTA-GBP</option>
		<option value="CAKE_GBP">CAKE-GBP</option>
		<option value="NEO_GBP">NEO-GBP</option>
		<option value="GRT67_9_GBP">GRT6719-GBP</option>
		<option value="FTM_GBP">FTM-GBP</option>
		<option value="HNT_GBP">HNT-GBP</option>
		<option value="OMI_GBP">OMI-GBP</option>
		<option value="RUNE_GBP">RUNE-GBP</option>
		<option value="CRV_GBP">CRV-GBP</option>
		<option value="TWT_GBP">TWT-GBP</option>
		<option value="DASH_GBP">DASH-GBP</option>
		<option value="KAVA_GBP">KAVA-GBP</option>
		<option value="ENJ_GBP">ENJ-GBP</option>
		<option value="BAT_GBP">BAT-GBP</option>
		<option value="STX4847_GBP">STX4847-GBP</option>
		<option value="ZIL_GBP">ZIL-GBP</option>
		<option value="DCR_GBP">DCR-GBP</option>
		<option value="XDC_GBP">XDC-GBP</option>
		<option value="_INCH_GBP">1INCH-GBP</option>
		<option value="COMP5692_GBP">COMP5692-GBP</option>
		<option value="RVN_GBP">RVN-GBP</option>
		<option value="LRC_GBP">LRC-GBP</option>
		<option value="WAVES_GBP">WAVES-GBP</option>
		<option value="XEM_GBP">XEM-GBP</option>
		<option value="HOT2682_GBP">HOT2682-GBP</option>
		<option value="AR_GBP">AR-GBP</option>
		<option value="CELO_GBP">CELO-GBP</option>
		<option value="DFI_GBP">DFI-GBP</option>
		<option value="GNO_GBP">GNO-GBP</option>
		<option value="CCXX_GBP">CCXX-GBP</option>
		<option value="ROSE_GBP">ROSE-GBP</option>
		<option value="BTG_GBP">BTG-GBP</option>
		<option value="BAL_GBP">BAL-GBP</option>
		<option value="KSM_GBP">KSM-GBP</option>
		<option value="YFI_GBP">YFI-GBP</option>
		<option value="QTUM_GBP">QTUM-GBP</option>
		<option value="TFUEL_GBP">TFUEL-GBP</option>
		<option value="ANKR_GBP">ANKR-GBP</option>
		<option value="GLM_GBP">GLM-GBP</option>
		<option value="IOTX_GBP">IOTX-GBP</option>
		<option value="RSR_GBP">RSR-GBP</option>
		<option value="KDA_GBP">KDA-GBP</option>
		<option value="OMG_GBP">OMG-GBP</option>
		<option value="ONE3945_GBP">ONE3945-GBP</option>
		<option value="ZRX_GBP">ZRX-GBP</option>
		<option value="HIVE_GBP">HIVE-GBP</option>
		<option value="SUSHI_GBP">SUSHI-GBP</option>
		<option value="IOST_GBP">IOST-GBP</option>
		<option value="ICX_GBP">ICX-GBP</option>
		<option value="AMP_GBP">AMP-GBP</option>
		<option value="SRM_GBP">SRM-GBP</option>
		<option value="ABBC_GBP">ABBC-GBP</option>
		<option value="FLUX_GBP">FLUX-GBP</option>
		<option value="MCO_GBP">MCO-GBP</option>
		<option value="ONT_GBP">ONT-GBP</option>
		<option value="WAXP_GBP">WAXP-GBP</option>
		<option value="STORJ_GBP">STORJ-GBP</option>
		<option value="ZEN_GBP">ZEN-GBP</option>
		<option value="XCH_GBP">XCH-GBP</option>
		<option value="SC_GBP">SC-GBP</option>
		<option value="SXP_GBP">SXP-GBP</option>
		<option value="UMA_GBP">UMA-GBP</option>
		<option value="SKL_GBP">SKL-GBP</option>
		<option value="DGB_GBP">DGB-GBP</option>
		<option value="LSK_GBP">LSK-GBP</option>
		<option value="EWT_GBP">EWT-GBP</option>
		<option value="CVC_GBP">CVC-GBP</option>
		<option value="ERG_GBP">ERG-GBP</option>
		<option value="CKB_GBP">CKB-GBP</option>
		<option value="COTI_GBP">COTI-GBP</option>
		<option value="MED_GBP">MED-GBP</option>
		<option value="VGX_GBP">VGX-GBP</option>
		<option value="CELR_GBP">CELR-GBP</option>
		<option value="VERI_GBP">VERI-GBP</option>
		<option value="NU_GBP">NU-GBP</option>
		<option value="SYS_GBP">SYS-GBP</option>
		<option value="WIN_GBP">WIN-GBP</option>
		<option value="VLX_GBP">VLX-GBP</option>
		<option value="SNT_GBP">SNT-GBP</option>
		<option value="XNO_GBP">XNO-GBP</option>
		<option value="ARDR_GBP">ARDR-GBP</option>
		<option value="RLC_GBP">RLC-GBP</option>
		<option value="STEEM_GBP">STEEM-GBP</option>
		<option value="BNT_GBP">BNT-GBP</option>
		<option value="DAG_GBP">DAG-GBP</option>
		<option value="NMR_GBP">NMR-GBP</option>
		<option value="CTSI_GBP">CTSI-GBP</option>
		<option value="FUN_GBP">FUN-GBP</option>
		<option value="CTC_GBP">CTC-GBP</option>
		<option value="ARRR_GBP">ARRR-GBP</option>
		<option value="REP_GBP">REP-GBP</option>
		<option value="STRAX_GBP">STRAX-GBP</option>
		<option value="ANT_GBP">ANT-GBP</option>
		<option value="PHA_GBP">PHA-GBP</option>
		<option value="RAY_GBP">RAY-GBP</option>
		<option value="C98_GBP">C98-GBP</option>
		<option value="STMX_GBP">STMX-GBP</option>
		<option value="MTL_GBP">MTL-GBP</option>
		<option value="RBTC_GBP">RBTC-GBP</option>
		<option value="OXT_GBP">OXT-GBP</option>
		<option value="ACH_GBP">ACH-GBP</option>
		<option value="NKN_GBP">NKN-GBP</option>
		<option value="FET_GBP">FET-GBP</option>
		<option value="MAID_GBP">MAID-GBP</option>
		<option value="VTHO_GBP">VTHO-GBP</option>
		<option value="DERO_GBP">DERO-GBP</option>
		<option value="WOZX_GBP">WOZX-GBP</option>
		<option value="ARK_GBP">ARK-GBP</option>
		<option value="XWC_GBP">XWC-GBP</option>
		<option value="MLN_GBP">MLN-GBP</option>
		<option value="XVG_GBP">XVG-GBP</option>
		<option value="DIVI_GBP">DIVI-GBP</option>
		<option value="ETN_GBP">ETN-GBP</option>
		<option value="META_GBP">META-GBP</option>
		<option value="AXEL_GBP">AXEL-GBP</option>
		<option value="TT_GBP">TT-GBP</option>
		<option value="VRA_GBP">VRA-GBP</option>
		<option value="NEBL_GBP">NEBL-GBP</option>
		<option value="BAND_GBP">BAND-GBP</option>
		<option value="TOMO_GBP">TOMO-GBP</option>
		<option value="CLV_GBP">CLV-GBP</option>
		<option value="AVA_GBP">AVA-GBP</option>
		<option value="GXC_GBP">GXC-GBP</option>
		<option value="WAN_GBP">WAN-GBP</option>
		<option value="KMD_GBP">KMD-GBP</option>
		<option value="CET_GBP">CET-GBP</option>
		<option value="AE_GBP">AE-GBP</option>
		<option value="BCD_GBP">BCD-GBP</option>
		<option value="MONA_GBP">MONA-GBP</option>
		<option value="SBD_GBP">SBD-GBP</option>
		<option value="ELA_GBP">ELA-GBP</option>
		<option value="GRS_GBP">GRS-GBP</option>
		<option value="FIO_GBP">FIO-GBP</option>
		<option value="FIRO_GBP">FIRO-GBP</option>
		<option value="IRIS_GBP">IRIS-GBP</option>
		<option value="SERO_GBP">SERO-GBP</option>
		<option value="NULS_GBP">NULS-GBP</option>
		<option value="ADX_GBP">ADX-GBP</option>
		<option value="GAS_GBP">GAS-GBP</option>
		<option value="FRONT_GBP">FRONT-GBP</option>
		<option value="KIN_GBP">KIN-GBP</option>
		<option value="KRT_GBP">KRT-GBP</option>
		<option value="WTC_GBP">WTC-GBP</option>
		<option value="CTXC_GBP">CTXC-GBP</option>
		<option value="BEAM_GBP">BEAM-GBP</option>
		<option value="HNS_GBP">HNS-GBP</option>
		<option value="AION_GBP">AION-GBP</option>
		<option value="PIVX_GBP">PIVX-GBP</option>
		<option value="VITE_GBP">VITE-GBP</option>
		<option value="CUDOS_GBP">CUDOS-GBP</option>
		<option value="SOLVE_GBP">SOLVE-GBP</option>
		<option value="MARO_GBP">MARO-GBP</option>
		<option value="MWC_GBP">MWC-GBP</option>
		<option value="DNT_GBP">DNT-GBP</option>
		<option value="FSN_GBP">FSN-GBP</option>
		<option value="BTM_GBP">BTM-GBP</option>
		<option value="RSTR_GBP">RSTR-GBP</option>
		<option value="NMC_GBP">NMC-GBP</option>
		<option value="XNC_GBP">XNC-GBP</option>
		<option value="AMB_GBP">AMB-GBP</option>
		<option value="NIM_GBP">NIM-GBP</option>
		<option value="APL_GBP">APL-GBP</option>
		<option value="MIR7857_GBP">MIR7857-GBP</option>
		<option value="PPC_GBP">PPC-GBP</option>
		<option value="GBYTE_GBP">GBYTE-GBP</option>
		<option value="OXEN_GBP">OXEN-GBP</option>
		<option value="WICC_GBP">WICC-GBP</option>
		<option value="LBC_GBP">LBC-GBP</option>
		<option value="VTC_GBP">VTC-GBP</option>
		<option value="XHV_GBP">XHV-GBP</option>
		<option value="QRL_GBP">QRL-GBP</option>
		<option value="DMD_GBP">DMD-GBP</option>
		<option value="WABI_GBP">WABI-GBP</option>
		<option value="BTC2_GBP">BTC2-GBP</option>
		<option value="XCP_GBP">XCP-GBP</option>
		<option value="SCP_GBP">SCP-GBP</option>
		<option value="INSTAR_GBP">INSTAR-GBP</option>
		<option value="NRG_GBP">NRG-GBP</option>
		<option value="GO_GBP">GO-GBP</option>
		<option value="PZM_GBP">PZM-GBP</option>
		<option value="QASH_GBP">QASH-GBP</option>
		<option value="ZNN_GBP">ZNN-GBP</option>
		<option value="VAL_GBP">VAL-GBP</option>
		<option value="NYE_GBP">NYE-GBP</option>
		<option value="DIME_GBP">DIME-GBP</option>
		<option value="PCX_GBP">PCX-GBP</option>
		<option value="OBSR_GBP">OBSR-GBP</option>
		<option value="PART_GBP">PART-GBP</option>
		<option value="CRU_GBP">CRU-GBP</option>
		<option value="DGD_GBP">DGD-GBP</option>
		<option value="BEPRO_GBP">BEPRO-GBP</option>
		<option value="RDD_GBP">RDD-GBP</option>
		<option value="XMC_GBP">XMC-GBP</option>
		<option value="ZYN_GBP">ZYN-GBP</option>
		<option value="ILC_GBP">ILC-GBP</option>
		<option value="ATRI_GBP">ATRI-GBP</option>
		<option value="EDG_GBP">EDG-GBP</option>
		<option value="MHC_GBP">MHC-GBP</option>
		<option value="CHI_GBP">CHI-GBP</option>
		<option value="POA_GBP">POA-GBP</option>
		<option value="GRIN_GBP">GRIN-GBP</option>
		<option value="NXS_GBP">NXS-GBP</option>
		<option value="FCT_GBP">FCT-GBP</option>
		<option value="BCN_GBP">BCN-GBP</option>
		<option value="HC_GBP">HC-GBP</option>
		<option value="ZANO_GBP">ZANO-GBP</option>
		<option value="NAV_GBP">NAV-GBP</option>
		<option value="SALT_GBP">SALT-GBP</option>
		<option value="BIP_GBP">BIP-GBP</option>
		<option value="NVT_GBP">NVT-GBP</option>
		<option value="DTEP_GBP">DTEP-GBP</option>
		<option value="PPT_GBP">PPT-GBP</option>
		<option value="NXT_GBP">NXT-GBP</option>
		<option value="ADK_GBP">ADK-GBP</option>
		<option value="PAY_GBP">PAY-GBP</option>
		<option value="PAC_GBP">PAC-GBP</option>
		<option value="OTO_GBP">OTO-GBP</option>
		<option value="VSYS_GBP">VSYS-GBP</option>
		<option value="BHP_GBP">BHP-GBP</option>
		<option value="PI_GBP">PI-GBP</option>
		<option value="GHOST_GBP">GHOST-GBP</option>
		<option value="SRK_GBP">SRK-GBP</option>
		<option value="GRC_GBP">GRC-GBP</option>
		<option value="SKY_GBP">SKY-GBP</option>
		<option value="COLX_GBP">COLX-GBP</option>
		<option value="SFT_GBP">SFT-GBP</option>
		<option value="GAME_GBP">GAME-GBP</option>
		<option value="REV_GBP">REV-GBP</option>
		<option value="XLT_GBP">XLT-GBP</option>
		<option value="NLG_GBP">NLG-GBP</option>
		<option value="ETP_GBP">ETP-GBP</option>
		<option value="LCC_GBP">LCC-GBP</option>
		<option value="SCC3986_GBP">SCC3986-GBP</option>
		<option value="EMC2_GBP">EMC2-GBP</option>
		<option value="NAS_GBP">NAS-GBP</option>
		<option value="DCN_GBP">DCN-GBP</option>
		<option value="ACT_GBP">ACT-GBP</option>
		<option value="DMCH_GBP">DMCH-GBP</option>
		<option value="UBQ_GBP">UBQ-GBP</option>
		<option value="WGR_GBP">WGR-GBP</option>
		<option value="MIR_GBP">MIR-GBP</option>
		<option value="AEON_GBP">AEON-GBP</option>
		<option value="FTC_GBP">FTC-GBP</option>
		<option value="INT_GBP">INT-GBP</option>
		<option value="BLOCK_GBP">BLOCK-GBP</option>
		<option value="MAN_GBP">MAN-GBP</option>
		<option value="VIN_GBP">VIN-GBP</option>
		<option value="MRX_GBP">MRX-GBP</option>
		<option value="FO_GBP">FO-GBP</option>
		<option value="OWC_GBP">OWC-GBP</option>
		<option value="CMT2246_GBP">CMT2246-GBP</option>
		<option value="GHOST5475_GBP">GHOST5475-GBP</option>
		<option value="BCA_GBP">BCA-GBP</option>
		<option value="TRUE_GBP">TRUE-GBP</option>
		<option value="GLEEC_GBP">GLEEC-GBP</option>
		<option value="DNA5234_GBP">DNA5234-GBP</option>
		<option value="VEX_GBP">VEX-GBP</option>
		<option value="HPB_GBP">HPB-GBP</option>
		<option value="QRK_GBP">QRK-GBP</option>
		<option value="IDNA_GBP">IDNA-GBP</option>
		<option value="MASS_GBP">MASS-GBP</option>
		<option value="PLC_GBP">PLC-GBP</option>
		<option value="BTX_GBP">BTX-GBP</option>
		<option value="XSN_GBP">XSN-GBP</option>
		<option value="BLK_GBP">BLK-GBP</option>
		<option value="YOYOW_GBP">YOYOW-GBP</option>
		<option value="HTML_GBP">HTML-GBP</option>
		<option value="BHD_GBP">BHD-GBP</option>
		<option value="SMART_GBP">SMART-GBP</option>
		<option value="DYN_GBP">DYN-GBP</option>
		<option value="MGO_GBP">MGO-GBP</option>
		<option value="XMY_GBP">XMY-GBP</option>
		<option value="LEDU_GBP">LEDU-GBP</option>
		<option value="PAI_GBP">PAI-GBP</option>
		<option value="CUT_GBP">CUT-GBP</option>
		<option value="XST_GBP">XST-GBP</option>
		<option value="FTX_GBP">FTX-GBP</option>
		<option value="FAIR_GBP">FAIR-GBP</option>
		<option value="CURE_GBP">CURE-GBP</option>
		<option value="WINGS_GBP">WINGS-GBP</option>
		<option value="SUB_GBP">SUB-GBP</option>
		<option value="TRTL_GBP">TRTL-GBP</option>
		<option value="AYA_GBP">AYA-GBP</option>
		<option value="POLIS_GBP">POLIS-GBP</option>
		<option value="HYC_GBP">HYC-GBP</option>
		<option value="XRC_GBP">XRC-GBP</option>
		<option value="HTDF_GBP">HTDF-GBP</option>
		<option value="GCC_53__GBP">GCC1531-GBP</option>
		<option value="BPS_GBP">BPS-GBP</option>
		<option value="NIX_GBP">NIX-GBP</option>
		<option value="IOC_GBP">IOC-GBP</option>
		<option value="PIN_GBP">PIN-GBP</option>
		<option value="NYZO_GBP">NYZO-GBP</option>
		<option value="XBY_GBP">XBY-GBP</option>
		<option value="TUBE_GBP">TUBE-GBP</option>
		<option value="PHR_GBP">PHR-GBP</option>
		<option value="TERA_GBP">TERA-GBP</option>
		<option value="XAS_GBP">XAS-GBP</option>
		<option value="RINGX_GBP">RINGX-GBP</option>
		<option value="ERK_GBP">ERK-GBP</option>
		<option value="MBC_GBP">MBC-GBP</option>
		<option value="DDK_GBP">DDK-GBP</option>
		<option value="USNBT_GBP">USNBT-GBP</option>
		<option value="ATB_GBP">ATB-GBP</option>
		<option value="TNS_GBP">TNS-GBP</option>
		<option value="FRST_GBP">FRST-GBP</option>
		<option value="BPC_GBP">BPC-GBP</option>
		<option value="COMP_GBP">COMP-GBP</option>
		<option value="BST3997_GBP">BST3997-GBP</option>
		<option value="CCA_GBP">CCA-GBP</option>
		<option value="SLS_GBP">SLS-GBP</option>
		<option value="SPHR_GBP">SPHR-GBP</option>
		<option value="FLASH_GBP">FLASH-GBP</option>
		<option value="MIDAS_GBP">MIDAS-GBP</option>
		<option value="ALIAS_GBP">ALIAS-GBP</option>
		<option value="BONO_GBP">BONO-GBP</option>
		<option value="AIB_GBP">AIB-GBP</option>
		<option value="BONFIRE_GBP">BONFIRE-GBP</option>
		<option value="BDX_GBP">BDX-GBP</option>
		<option value="ECC_GBP">ECC-GBP</option>
		<option value="UNO_GBP">UNO-GBP</option>
		<option value="CSC_GBP">CSC-GBP</option>
		<option value="DUN_GBP">DUN-GBP</option>
		<option value="RBY_GBP">RBY-GBP</option>
		<option value="MTC6498_GBP">MTC6498-GBP</option>
		<option value="JDC_GBP">JDC-GBP</option>
		<option value="GRN_GBP">GRN-GBP</option>
		<option value="BRC_GBP">BRC-GBP</option>
		<option value="XUC_GBP">XUC-GBP</option>
		<option value="SAPP_GBP">SAPP-GBP</option>
		<option value="LRG_GBP">LRG-GBP</option>
		<option value="SONO5420_GBP">SONO5420-GBP</option>
		<option value="NLC_GBP">NLC-GBP</option>
		<option value="DCY_GBP">DCY-GBP</option>
		<option value="KNCL_GBP">KNCL-GBP</option>
		<option value="VBK_GBP">VBK-GBP</option>
		<option value="LKK_GBP">LKK-GBP</option>
		<option value="MINT_GBP">MINT-GBP</option>
		<option value="DACC_GBP">DACC-GBP</option>
		<option value="HNC_GBP">HNC-GBP</option>
		<option value="ECA_GBP">ECA-GBP</option>
		<option value="MOAC_GBP">MOAC-GBP</option>
		</select>
		<input type="submit">
	  </form>

	<script>
		const labels = {{ labels | tojson}};
		var x = {{ table_name | tojson }};
		const data = {
			labels: labels,
			datasets: [{
				label: x,
				backgroundColor: 'rgb(255, 99, 132)',
				borderColor: 'rgb(255, 99, 132)',
				data: {{ data | tojson}},
			}]
		};

		const config = {
			type: 'line',
			data: data,
			options: { maintainAspectRatio: false }
		};

		const myChart = new Chart(
			document.getElementById('myChart'),
			config
		);

	</script>
</body>
</html>
